@import '~antd/dist/antd.css';
@import './page-button.scss';
@import './filter.scss';

$mainColor: rgb(0, 120, 233);

.app {
  overflow: hidden;
}

.header {
  height: 60px;
  background-color: $mainColor;
}

.main {
  min-height: calc(100vh - 60px) ;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.table-container {
  margin-bottom: 60px;
  margin-top: 60px;
  height: auto;
  max-width: 800px;
  min-width: 200px;
  width: 100%;
  height: auto;
}

.table {
  width: 100%;
}

.table__tr {
  height: 40px;
}

.table__tr_header {
  .table__th {
    color: white;
    background-color: $mainColor;
    border: 2px solid #fff;
    border-color: #fff;
  }
}

.table__th {
  height: 40px;
  background-color: rgb(233, 233, 233);
  
  border: 2px solid #fff;
}
